@charset "UTF-8";

.section-4 {
    background-color: $primary-red;
    padding-bottom: 2rem;
}

.section-4  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title {
    color: $white;
}

.services__list {
    columns: 1;
    //list-style-image: url('../images/checkmark.svg');
    list-style-type: none;
    position: relative;
    top: 17.5%;
    margin: 0 auto;
    text-align: center;
    width: 90%; 
}

    .services__list li::before {
        content: '√';   
        margin-left: -5px;
        margin-right: 5px;
    }

    .services__list li {
        color: $white;
        font-size: 3.75vh;
        margin-bottom: 1.25rem;
    }

.curly-q-div {
    margin-top: auto;
    width: 25%;

}

@media (min-width: 768px) and (orientation: portrait) {
    .services__list {
        
    }

        .services__list li {

        }
}    

@media (min-width: 960px) and (orientation: landscape) {
    .services__list {
        columns: 2;
   }
        .services__list li {
            font-size: 3.75vw;
        } 
}

@media (min-width: 1280px) and (orientation: landscape) {
        .services__list li {
            font-size: 2.75rem; /* font-max-width doesn't exist, therefore,.. this is same as setting max-width.  */
        }
}