@charset "UTF-8";

.section-1 {
    background-color: $primary-bg;
    padding-top: 0 !important;
}

.section-1-top {
    height: 50vh; 
    //height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    overflow: hidden;
    position: relative;
}

.section-top-bg-holder {
    background: url('../images/stars-stripes-retro-yellow-removed.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.logo-overlay {
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}


#to_services:hover {
	cursor: pointer;
}

.logo-wrapper {
    display: flex;
    flex:1 0 auto;
    height: 90%;
    width: 100%;
    max-width: 100%;
    z-index: 3;
    align-items: center;
    padding: .5rem;
}

.logo {
    display: block;
    width: 90%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;    
}

.logo path {
    fill: $primary-dark !important;
}

.address {
    background-color: $primary-dark;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    font-family: 'Domine', serif;
    font-size: 2.25vw;
    letter-spacing: 3px;
    font-weight: bold;
    
    position: relative; 
    width: 100%;
    z-index: 3;
}

.section-1-bottom {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
    overflow: hidden;
    position: relative;    
}

.info {
    align-items: center;
    border: 2px solid $white;
    display: flex;
    flex-flow: column;
    color: $white;
   
    height: 50%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .75rem;
    padding-top: .75rem;
    //justify-content: center;
    
    //padding: 7.5% 0; /* landscape */

    p { 
        font-size: 4.25vw;
        //font-size: 110% !important;
        margin-top: 0;
    }
}    

.info-1 {
    background-color: $primary-red;
    font-family: 'righteous', sans-serif;
    font-size: 2rem !important;
    text-align: center;
    //padding: 2%;
    //padding-left: 10%;
    //padding-right: 10%;
}

.info-1__icon {
    width: 20%;
    //width: 50%; landscape
}

.info-2 {
    background-color: $primary-blue;   
}

/*h3*/.locksmith-link-title {
    text-align: center;
}

.key-icon-top {
    height: auto;
    margin: 0 auto;
    width: 22.5%;
    //width: 90%;
    //width: 25%;
}


.locksmith-link, .locksmith-link > h3 {
    
    display: block;
    
        &:hover {
            @include hover-scale;
            .locksmith-link-title {
                color: $notice;
            }
        }
    }

.locksmith-link-title {
    color: $white;
    font-family: 'Artist-Modern', sans-serif;
    font-size: 4.5rem;
    //font-size: 2.5rem;
    //font-size: 5.5rem;
    
    a { color: $white; }
}

.locksmith-hand {
    display: none;
    //display: block;
    margin: 0 auto;
    //width: 25%;
    width: 35%;
}

@media (min-width: 414px) and (orientation: portrait) { /*iPHONE 7 */
    .section-1-top {
        height:50vh;
    }
    .section-1-bottom {
        height:50vh;   
    }
    
    .info {
       justify-content: space-evenly;
    }
    
    .info-1__text {
        width: 65%;
    }

    .key-icon-top {
        width: 30%;
    }
}

@media (min-width: 768px) { /*iPHONE 7 */
    .section-1-bottom {
        flex-direction: row;
    }
    .info {
        height: 100%;
        padding-top: 2rem;
        justify-content: flex-start;
        width: 50%;
    }
    .locksmith-link-title {
        font-size: 5.5rem;
        margin: 2rem 0;
    }
    .key-icon-top {
        width: 55%;
    }

    .info-1__icon {
        width: 35%;
    }
}

@media (min-width: 960px) and (orientation: landscape) {
    .logo-wrapper {
        //width: 77.5%;
        height: 90%;
        padding: 1.2rem 0;
    }
    .logo {
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
    .section-1-top {
        height: 60vh;
    }
    .address {
        height: 10%;
        font-size: 1.5vw;
    }
    .section-1-bottom {
        height: 40vh;
    }
    .info {
        height: 100%;
        justify-content: flex-start;
        padding-top: 2%; /* ?? */
    }
    .info p {
        font-size: 2.25vw;
        width: 65%;
        margin: 0 0 1rem 0;
    }
    .locksmith-link-title {
        margin:0 0 1rem 0;
    }
    .info-1__icon {
        width: 15%;
    }
    .key-icon-top {
        margin-top: 0;
        width: 22.5%;
    }
    .locksmith-link-title {
        font-size: 5.65rem;
    }
    .info-2__icon {
        width: 26.5%;
    }
}












