@charset "UTF-8";

.section-1 {
    background-color: $primary-bg;
    padding-top: 0 !important;
}

.section-1-top {
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    overflow: hidden;
    position: relative;
}

.section-top-bg-holder {
    background: url('../images/stars-stripes-retro-yellow-removed.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.logo-overlay {
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
}

/*
.logo-tagline-wrapper {
    display: flex;
    flex-flow: row;
    padding: 1% 2%;
}
*/
.logo-wrapper {
    display: flex;
    flex:1 0 auto;
    width: 75%;
    z-index: 3;
}

.logo {
    display: block;
    width: 100%;
}

.logo path {
    fill: $primary-dark !important;
}

.address {
    background-color: $primary-dark;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    font-family: 'Domine', serif;
    font-size: .85rem;
    letter-spacing: 3px;
    font-weight: bold;
    
    position: relative; 
    width: 100%;
    z-index: 3;
}

.section-1-bottom {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40vh;
    overflow: hidden;
    position: relative;    
}

.info {
    align-items: center;
    border: 2px solid $white;
    display: flex;
    flex:1 1 50%;
    flex-flow: column;
    color: $white;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;

    p { font-size: 110% !important; }

}

.info-1 {
    background-color: $primary-red;
    font-family: 'righteous', sans-serif;
    font-size: 2rem !important;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.info-1-icon {
    width: 20%;
}

.info-2 {
    background-color: $primary-blue;   
    
}

/*h3*/.locksmith-link-title {
    text-align: center;
}

.key-icon {
    height: auto;
    margin: 0 auto;
    width: 25%;
    margin-top: 25px;
}

.locksmith-link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locksmith-link-title {
    color: $white;
    font-family: 'Artist-Modern', sans-serif;
    font-size: 5.5rem;
    
    a { color: $white; }
}

.locksmith-hand {
    display: block;
    margin: 0 auto;
    width: 25%;
}
