@charset "UTF-8";

.section-6 {
    background-color: $primary-bg;
    color: $drkBrown;
}

.section-6 .container {
    display: flex;
    flex-direction: column;
}

.section-6-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section-6-bottom-cell {
    height: 33.33%;
    overflow: hidden;
    width: 100%;
}

.bottom-cell-wrapper {
    border-width: 2px;
    border-style: solid;
    border-color: $white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding-top: 7px;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    text-align: center;
}

.section-6-bottom-cell a {
    color: $white;
    display: block;
    &:hover {
        @include hover-scale;
    };
}

.antique-gun-icon {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 125px;
}

.general-lock-notice {
    font-family: 'Domine', serif;
    font-size: .9rem;
    text-align: center;
    width: 95%;
    color: $white;
    transition: all .5s ease-out;
        &:hover {
            @include hover-scale;
        }
    }


.phone-icon {
    /*/width: 80px;*/
    width: 10%;
}

.call-us {
    margin: 10px 0 0 0;
    font-size: 1.5rem;
}

.key-icon-bottom {
        width: 25%;
    }

.locksmith-link-bottom h3 {
    font-size: 3rem;
}

/*h3*/.footer__featured {
    margin-top: auto;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    
    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .section-6-bottom {
        display: flex;
        flex-direction: row;
    }
    .section-6-bottom-cell {
        height: 100%;
        max-height: 500px;
        width: 33.33%;
    }
    .general-lock-notice{
        font-size: 1.5rem;
    }
    .call-us {
        font-size: 3rem;       
    }
    .locksmith-hand {
        display: block;
    }  
}

@media (min-width: 960px) and (orientation: landscape) {
    
    .antique-gun-icon {
        width: 75%;
    }
    .key-icon-bottom {
        width: 50%;
    }
    .locksmith-link-bottom h3 {
        font-size: 5rem;
    }
    .locksmith-hand {
        width: 25%;
    }

}