.section-2 {
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
}

.section-2 > .fp-tableCell {
	display: flex !important;
    flex-direction: column;	
    justify-content: space-between;
    padding-bottom: 15px;
}

.section-2-header {
    color: $white;
    position: relative;
    z-index: 3;
}

.gunsmith-header {
    
}

.section-2-tagline {

}

.section-2-bg-image {
    background-image: url('../images/putting-gun-together.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.section-2-overlay {
    background-color: rgba(75,0,130, .2);
}

.section-2-tagline {
	text-align: right;
}

