@charset "UTF-8";

.fp-viewing-section-4 .header {
    border-bottom: 1px solid rgba(255,255,239, 0.5);
}

.section-4 {
    background-color: $drkBrown;
    color: $white;
    padding-left: 1.5%;
    padding-right: 1.5%;
    
    a {
        color: darken($primary-bg, 15%);
    }
    a:hover {
        color: lighten($primary-bg, 35%);
    }
}

.section-4 .container {
    padding-top: .001em;    
    overflow-y: scroll;
}

.about-us__wrapper {
   /* margin: 0 auto;
    width: 80%; */
    margin: 0 0 0 27px;
    width: 92%;
}

.about__title {
    color: $white;
    top: 0%;
}

.about__main {
    border: 2px solid $white;
    display:block;
    margin: 0 auto 5% auto;
    //width: 90%
    margin:0 5px 5px 0;
    float: left;
    width: 50%;
}

.section-4 p {
    font-size: 92.5%;
    margin: 0 auto 12px auto;
}

@media (min-width: 375px) and (orientation: portrait) { /* iPHONE 7 */
    .about-us__wrapper {
        margin: 0 0 0 27px;
        width: 90%;
    }
    .section-4 p {
        font-size: 100%;
    }
}

@media (min-width: 414px) {
    .about__main {
        display: block;
    }
}

@media (min-width: 414px) and (orientation: portrait) { /* iPhone 7 Plus */
    
    .about__main {
        width: 50%;
    }

    .section-4 p {
        font-size: 120%; 
    }
}

@media (min-width: 576px) {
    .about__main {
        width: 70%;
    }   
}

@media (min-width: 600px) {
    .about__main {
        width: 100%;
        margin: 0 auto 20px auto;
    }
     .section-4 p {
        font-size: 130%; 
        margin: 0 0 20px 0;
    }
}

@media (min-width: 768px) {
    
    .about-us__wrapper {
       margin: 0 auto;
        width: 90%;
    }
    
    .section-4 p {
        font-size: 100%;    
    }
}

@media (min-width: 960px) and (orientation: landscape) {
    .about__main {
        float: left;
        width: 45%;
        margin-right: 1rem;
    }
    
    .about-us__wrapper {
       margin: 0 auto;
        width: 95%;
    }
}

