@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Risque');
@import url('https://fonts.googleapis.com/css?family=Acme');

/* font-family: 'Nunito', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Risque', cursive;
font-family: 'Acme', sans-serif;
*/

@font-face {
  font-family: 'Ansley Display-Regular';
  src: url('fonts/Ansley Display-Regular.eot');
  src: url('fonts/Ansley Display-Regular.woff2') format('woff2'),
       url('fonts/Ansley Display-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnsleyDisplay';
  src: url('fonts/AnsleyDisplay.woff') format('woff'),
       url('fonts/AnsleyDisplay.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ansley Display-Bold';
  src: url('fonts/Ansley Display-Bold.eot');
  src: url('fonts/Ansley Display-Bold.woff2') format('woff2'),
       url('fonts/Ansley Display-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AnsleyDisplay-Bold';
  src: url('fonts/AnsleyDisplay-Bold.woff') format('woff'),
       url('fonts/AnsleyDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*
 * Modular Scale and Typi Mappings
 */

/* Modular Scale */
$ms-base: 1em;
$ms-ratio: $minor-third;

/* Typi */
// See: https://github.com/zellwk/typi

$breakpoints: (
  small : 576px, /*  568px */
  medium: 768px, /* 992  */
  large : 992px, /* 1200  */
  xlarge : 1200px /* 1600  */
);

@include typi-init;
$typi: (
  base: (
    null: (16px, 1.3),
    small: (17px, 1.3),
    medium: (18px, 1.3),
    large: (19px, 1.3)
  ),
  h1-map: (
    null: (ms(3), 1.2),
    small: (ms(4), 1.2),
    medium: (ms(5), 1.25),
    large: (ms(6), 1.25)
  ),
  h2-map: (
    null: (ms(2), 1.2),
    small: (ms(3), 1.2),
    medium: (ms(4), 1.2),
    large: (ms(5), 1.2)
  ),
  h3-map: (
    null: (ms(1), 1.2),
    small: (ms(2), 1.2),
    medium: (ms(3), 1.2),
    large: (ms(4), 1.2)
  ),
  h4-map: (
    null: (ms(0), 1.1),
    small: (ms(1), 1.1),
    medium: (ms(2), 1.1),
    large: (ms(3), 1.1)
  ),
  h5-map: (
    null: (ms(-1), 1.4),
    small: (ms(0), 1.4),
    medium: (ms(1), 1),
    large: (ms(2), 1)
  ),
  h6-map: (
    null: (ms(-2), 1.2),
    small: (ms(-1), 1.2),
    medium: (ms(0), 1),
    large: (ms(1), 1)
  )
);

body,
p {
  @include typi(base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 { @include typi(h1-map); }

h2 { @include typi(h2-map); }

h3 { @include typi(h3-map); }

h4 { @include typi(h4-map); }

h5 { @include typi(h5-map); }

h6 { @include typi(h6-map); }
