@charset "utf-8";

.header {
	color: #ffffef;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    position: fixed;
    background-color: $drkBrown; 
    font-weight: 400;
    z-index: 1;

    a {
    	color: inherit;
    }
}

.header span {
    font-size: .75rem;
}
