@charset "UTF-8";
@import url(../node_modules/normalize.css/normalize.css);
@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../node_modules/fullpage.js/jquery.fullPage.css);
@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header, .fullpage-wrapper {
  max-width: 1400px;
}

.fullpage-wrapper {
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}

@media all and (min-width: 600px) {
  html {
    font-size: 32px;
  }
}

button, input, textarea, select {
  outline: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

.section {
  overflow: hidden;
}

.section .container {
  height: 100%;
  position: relative;
}

.section-title {
  font-family: 'Domine', serif;
  margin: 0;
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: calc((100% - 60px) / 2 + 60px);
  left: 20px;
  list-style-type: none;
  transform: translateY(-50%);
}

.menu li {
  width: 10px;
  height: 10px;
  background-color: #e97254;
  border-radius: 50%;
  margin-bottom: 30px;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li.active {
  background-color: transparent;
  border: 2px solid #e97254;
}

.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-next {
  position: fixed;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.btn-next i {
  font-size: 48px;
}

/* CLARENDON ALT */
/* font-family: 'Domine', serif; */
@font-face {
  font-family: 'Artist-Modern';
  src: url("../fonts/Artist-Modern.ttf.woff") format("woff"), url("../fonts/Artist-Modern.ttf.svg#Artist-Modern") format("svg"), url("../fonts/Artist-Modern.ttf.eot"), url("../fonts/Artist-Modern.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'signpaintermedium';
  src: url("../fonts/signpainter-housescript-webfont.woff2") format("woff2"), url("../fonts/signpainter-housescript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'righteous';
  src: url("../fonts/righteous-regular-webfont.woff2") format("woff2"), url("../fonts/righteous-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Domine', serif;
}

/*
 * Modular Scale and Typi Mappings
 */
/* Modular Scale */
/* Typi */
html {
  font-size: 100%;
  line-height: 1.5;
}

body,
p {
  font-size: 75%;
  line-height: 1.3;
  font-family: 'Domine', serif;
}

@media all and (min-width: 576px) {
  body,
  p {
    font-size: 75%;
    line-height: 1.3;
  }
}

@media all and (min-width: 768px) {
  body,
  p {
    font-size: 81.25%;
    line-height: 1.3;
  }
}

@media all and (min-width: 992px) {
  body,
  p {
    font-size: 87.5%;
    line-height: 1.3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.37037rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h1 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 3.16049rem;
    line-height: 1.25;
  }
}

@media all and (min-width: 992px) {
  h1 {
    font-size: 4.21399rem;
    line-height: 1.25;
  }
}

h2 {
  font-size: 1.77778rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h2 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h2 {
    font-size: 3.16049rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 992px) {
  h2 {
    font-size: 4.21399rem;
    line-height: 1.2;
  }
}

h3 {
  font-size: 1.33333rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h3 {
    font-size: 1.77778rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h3 {
    font-size: 2.37037rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 992px) {
  h3 {
    font-size: 3.16049rem;
    line-height: 1.2;
  }
}

h4 {
  font-size: 1rem;
  line-height: 1.1;
}

@media all and (min-width: 576px) {
  h4 {
    font-size: 1.33333rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 768px) {
  h4 {
    font-size: 1.77778rem;
    line-height: 1.1;
  }
}

@media all and (min-width: 992px) {
  h4 {
    font-size: 2.37037rem;
    line-height: 1.1;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 1.4;
}

@media all and (min-width: 576px) {
  h5 {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media all and (min-width: 768px) {
  h5 {
    font-size: 1.33333rem;
    line-height: 1;
  }
}

@media all and (min-width: 992px) {
  h5 {
    font-size: 1.77778rem;
    line-height: 1;
  }
}

h6 {
  font-size: 0.5625rem;
  line-height: 1.2;
}

@media all and (min-width: 576px) {
  h6 {
    font-size: 0.75rem;
    line-height: 1.2;
  }
}

@media all and (min-width: 768px) {
  h6 {
    font-size: 1rem;
    line-height: 1;
  }
}

@media all and (min-width: 992px) {
  h6 {
    font-size: 1.33333rem;
    line-height: 1;
  }
}

.header {
  background-color: #9c3c46;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffef;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header a {
  color: inherit;
}

.header span {
  font-size: .6rem;
  font-weight: 400;
  font-family: 'Domine', serif;
}

@media (min-width: 526px) {
  .header span {
    font-size: .75rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 20px;
  }
  .header span {
    font-size: .85rem;
  }
}

@media (min-width: 992px) {
  .header span {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .header span {
    font-size: 1.25rem;
  }
}

.section-1 {
  background-color: #f5f4d6;
  padding-top: 0 !important;
}

.section-1-top {
  height: 60vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 36px;
  overflow: hidden;
  position: relative;
}

.section-top-bg-holder {
  background: url("../images/stars-stripes-retro-yellow-removed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.logo-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

/*
.logo-tagline-wrapper {
    display: flex;
    flex-flow: row;
    padding: 1% 2%;
}
*/
.logo-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  width: 75%;
  z-index: 3;
}

.logo {
  display: block;
  width: 100%;
}

.logo path {
  fill: #212121 !important;
}

.address {
  background-color: #212121;
  color: #fefeff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  height: 2rem;
  font-family: 'Domine', serif;
  font-size: .85rem;
  letter-spacing: 3px;
  font-weight: bold;
  position: relative;
  width: 100%;
  z-index: 3;
}

.section-1-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.info {
  -ms-flex-align: center;
      align-items: center;
  border: 2px solid #fefeff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
  -ms-flex-flow: column;
      flex-flow: column;
  color: #fefeff;
  height: 100%;
  align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: 1rem;
}

.info p {
  font-size: 110% !important;
}

.info-1 {
  background-color: #9c3c46;
  font-family: 'righteous', sans-serif;
  font-size: 2rem !important;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.info-1-icon {
  width: 20%;
}

.info-2 {
  background-color: #0088a7;
}

/*h3*/
.locksmith-link-title {
  text-align: center;
}

.key-icon {
  height: auto;
  margin: 0 auto;
  width: 25%;
  margin-top: 25px;
}

.locksmith-link {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.locksmith-link-title {
  color: #fefeff;
  font-family: 'Artist-Modern', sans-serif;
  font-size: 5.5rem;
}

.locksmith-link-title a {
  color: #fefeff;
}

.locksmith-hand {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.section-2 {
  position: relative;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.section-2 > .fp-tableCell {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 15px;
}

.section-2-header {
  color: #fefeff;
  position: relative;
  z-index: 3;
}

.section-2-bg-image {
  background-image: url("../images/rick-rankin-gun-maintenance.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0;
}

.section-2-overlay {
  background-color: rgba(75, 0, 130, 0.2);
}

.section-2-tagline {
  text-align: right;
}

@media (min-width: 992px) {
  .section-2-bg-image {
    background-position: 100% 0;
  }
}

.section-3 {
  background-color: #9c3c46;
  padding-bottom: 2rem;
}

.section-3 .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.services__title {
  color: #fefeff;
}

.services__list {
  columns: 1;
  list-style-type: none;
  position: relative;
  top: 17.5%;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.services__list li::before {
  content: '√';
  margin-left: -5px;
  margin-right: 5px;
}

.services__list li {
  color: #fefeff;
  font-size: 3.75vh;
  margin-bottom: 1.25rem;
}

.curly-q-div {
  margin-top: auto;
  width: 25%;
}

@media (min-width: 960px) and (orientation: landscape) {
  .services__list {
    columns: 2;
  }
  .services__list li {
    font-size: 3.75vw;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .services__list li {
    font-size: 2.75rem;
    /* font-max-width doesn't exist, therefore,.. this is same as setting max-width.  */
  }
}

.section-4 {
  background-color: #0088a7;
  color: #fefeff;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.customer__title {
  color: #fefeff;
}

.customer__reviews-wrapper {
  margin-top: 2rem;
  position: relative;
  top: 17.5%;
  display: -ms-flexbox;
  display: flex;
}

.customer__review {
  border: 2px solid #fefeff;
  border-radius: 6px;
  margin: 0 10px;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.customer__headshot-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
}

.customer__headshot {
  width: 25%;
}

.customer__pic {
  width: 100%;
}

.customer__name {
  font-size: 1.4rem;
  width: 75%;
}

.customer__stars-wrapper {
  height: 30px;
  overflow: none;
}

.customer__stars {
  width: 40%;
  height: 30%;
}
